html, body {
  margin: 0;
  height: 100%;
  width:100%;
  max-width: 100%;
  position:fixed;
  overflow-x: hidden;
  font-family: 'Quattrocento Sans', sans-serif;
}
body {
  margin:0px;
  padding: 0px;
}
.App {
  position: fixed;
  height: 100%;
  width:100%;
  max-width: 100% !important;
  overflow-x: hidden !important;
  /*overflow: scroll;
  overflow-x: scroll;*/
}
h1 {
  margin-top: 0;
}
h3 {
  width: 100%;
  text-align: left;
  margin-top: 20px;
  border: 1px solid black;
  box-sizing:border-box;
  overflow: hidden;
}
h4 {
  color: white;
  text-align: center;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 2px;
  padding: 3px;
  margin: 7px;
  margin-top: 0;
  background-color: grey;
}
.filter-msg {
  margin: 8px;
}
#message {
  color: white;
}
.header{
	background-color:#343434;
  color: white;
	width:100%;
	height:50px;
	text-align: center;
  padding: 30px;
}
.controls {
  margin: 5px;
  padding-top: 15px;
}
a {
  margin-right: 10px;
  text-decoration: none;
}
a:hover {
  color:white;
}
.sidebar-left{
	float:left;
	width:15%;
  height: 100%;
	background-color: #343434;
}
.main{
	float:left;
	width:70%;
	background-color: white;
  display:block;
  overflow: scroll;
  height:100%;
}
.sidebar-right{
	float:left;
	width:15%;
  height: 100%;
	background-color: #343434;
}
.footer{
	clear:both;
	height: 50px;
	width: 100%;
	text-align: center;
	background-color: #343434;
  color: white;
  padding-top: 8px;
}
table {
  border: 1px solid black;
  border-spacing: 0.3rem;
  /*border-collapse: collapse;*/
  width:100%;
  table-layout: fixed;
  box-sizing:border-box;
  overflow: visible;
  height:100%;
}
th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
td, th {
  /*border: 1px solid #999;*/
  padding: 0.5rem;
  font-size: 12px;
  word-wrap: break-word;
}
th {
  background-color: #e0e2e4;
  font-size: 18px;
  font-weight: bold;
}
td {
  background-color: #d5e1df;
}
.table-container {
  margin-top: 20px;
  box-sizing: border-box;
  margin-left: 18px;
  margin-right: 18px;
  height:100%;
}
.state-params {
}

.select {
}

.search-label, .year-label, .state-params-label{
  margin-bottom: 6px;
  margin-left: 3px;
}
.category-label{
  margin-bottom: 6px;
  margin-top: 15px;
  margin-left: 3px;
}
.select-year {
  margin-bottom: 25px;
}
.year-label{
  margin-bottom: 6px;
  margin-top: 15px;
  margin-left: 3px;
}
.select-year, .select-category, .select-location {
  margin-bottom: 25px;
}
label {
  color: white;
}
caption {
  color: red;
  font-weight: bold;
  font-size: 26px;
}
